body,html{
    margin: 0px;
    padding: 0px;
    
}
.adminlogin{
    background-image: url('/public/images/new1.jpeg');
    height: 100vh;  /*increase to full height*/
    background-size: cover;
    background-position: center;
}
.forminput{
    background-color: rgba(255, 255, 255, 0.687); 
    height: 300px;
    width: 480px; 
    margin-left: 390px; 
    position: absolute;
    margin-top: 140px;
    border-radius: 30px;
    border: 5px solid rgba(138, 65, 13, 0.85);
    
}
.form h1{
    text-align: center;
    font-size: 0px;
    margin: 30px 50px;
    color: rgba(169, 75, 8, 0.85);
    font-family: sans-serif;
}
.email,.password{
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}
.email input{
    height: 30px;
    width:360px;
}
.password input{
    height: 30px;
    width:360px;
    
}
.password{
    margin-top: 20px;
}
.btn-btn-primary{
    margin-top: 20px;
    margin-left: 150px;
    padding: 5px 15px;
    border: 2px solid rgb(188, 101, 101);
    background-color: blanchedalmond;
    color: rgba(169, 75, 8, 0.85);
    border-radius: 10px;
    font-weight:bold;
}
.back{
    margin-top: 20px;
    margin-left: 40px;
    padding: 5px 15px;
    border: 2px solid rgb(188, 101, 101);
    background-color: blanchedalmond;
    border-radius: 10px;
    color: rgba(167, 77, 12, 0.85);
    font-weight:bold;
}
.btn-btn-primary:hover{
    box-shadow: 2px 2px 15px rgba(169, 75, 8, 0.85);
}
.back:hover{
    box-shadow: 2px 2px 15px rgba(169, 75, 8, 0.85);
}
.form{
    margin-left: 0px;
}


